# Database Configuration
DB_USER="postgres"
DB_PASSWORD="password"
DB_HOST="localhost"
DB_NAME="recipe_billing"
DATABASE_URL="postgresql://postgres:password@localhost:5432/recipe_billing"
APIKEY="sk_BIv8xqwWtxjbAzJNWJkXNcVHvpko264y_2s9yDqahpCjjVuwYYwJFzPPpwGtu9cUc"

# JWT Configuration
JWT_SECRET="billingdemo"

# Server Configuration
NODE_ENV="development"
PORT=3001
ACTALINK_BASE_URL="https://api.acta.link/billing"
PAYLINK_ID_1="paylink_0eBaSSNK7j3lEIUeZ16OPuB7v7KZee22"
PAYLINK_ID_2="paylink_6LDiorrwRDii8aU2B7ueSRPGIFEby6cr"